####################
# Python
####################
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

####################
# Virtual Environment
####################
venv/
ENV/
env.bak/
env/

####################
# Django
####################
db.sqlite3
*.sqlite3
static/
media/
*.pot
*.pyc
*.mo

# Миграции (игнорируем все .py в папках migrations, кроме __init__.py)
**/migrations/*.py
!**/migrations/__init__.py

####################
# IDE / Редакторы
####################
.idea/
.vscode/
.DS_Store

####################
# ENV
####################
.env
.env.*
!docker/env/.env.example

####################
# Celery
####################
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal

####################
# Тестирование и покрытие
####################
htmlcov/
.coverage
.tox/
.cache/
pytest_cache/

####################
# Логи
####################
*.log
docker/logs/*
!docker/logs/

####################
# Docker
####################
*.pid
*.sock

# Nginx прод-конфиг
docker/nginx/prod/django.conf

# Redis временные данные
docker/redis/data/
docker/redis/*
!docker/redis/

####################
# Certbot
####################
docker/certbot/*
!docker/certbot/conf/
!docker/certbot/www/
docker/certbot/**/*