amqp==5.3.1
asgiref==3.8.1
async-timeout==5.0.1
billiard==4.2.1
celery==5.5.1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cron-descriptor==1.4.5
diff-match-patch==20241021
Django==5.1.7
django-appconf==1.1.0
django-celery-beat==2.7.0
django-ckeditor==6.7.2
django-compressor==4.5.1
django-environ==0.12.0
django-htmx==1.23.0
django-imagekit==5.0.0
django-import-export==4.3.7
django-js-asset==3.1.2
django-timezone-field==7.1
django-widget-tweaks==1.5.0
et_xmlfile==2.0.0
gunicorn==23.0.0
idna==3.10
kombu==5.5.2
openpyxl==3.1.5
packaging==24.2
pdf2image==1.17.0
pilkit==3.0
pillow==11.1.0
prompt_toolkit==3.0.50
psycopg2==2.9.10
python-crontab==3.2.0
python-dateutil==2.9.0.post0
pytils==0.4.3
rcssmin==1.1.2
redis==5.2.1
requests==2.32.3
rjsmin==1.2.2
six==1.17.0
sqlparse==0.5.3
tablib==3.8.0
typing_extensions==4.13.0
tzdata==2025.2
urllib3==2.3.0
vine==5.1.0
wcwidth==0.2.13
