<div class="container py-4">
    <!-- Breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-2">
            {% for item in breadcrumbs %}
                {% if item.url %}
                    <li class="breadcrumb-item"><a href="{% url item.url locality_slug=locality.slug %}" class="text-gray-600 text-decoration-none">{{ item.title }}</a></li>
                {% else %}
                    <li class="breadcrumb-item active" aria-current="page">{{ item.title }}</li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
    <!-- Заголовок -->
    <h1 class="fs-1 fw-bold text-gray-800 mb-2 mb-sm-0" style="line-height: 38px;">
        {{ title|default:"Название страницы" }}
    </h1>
</div>