<div class="py-4">
    {% if breadcrumbs %}
    <!-- Breadcrumbs -->
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% for crumb in breadcrumbs %}
            {% if not forloop.last %}
                <li class="breadcrumb-item">
                    <a href="{% url crumb.url locality_slug=locality.slug %}">{{ crumb.title }}</a>
                </li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">{{ crumb.title }}</li>
            {% endif %}
        {% endfor %}
    </ol>
    </nav>
    {% endif %}
    <!-- Заголовок -->
    <h1 class="fs-1 fw-bold mb-2 mb-sm-0">
        {{ title|default:"Название страницы" }}
    </h1>
</div>