{% load static %}
{% if latest_news %}
<section class="main_news-block block" data-swiper='{
    "slidesPerView": 1.1,
    "spaceBetween": 24,
    "breakpoints": {
        "768": {"slidesPerView": 2, "spaceBetween": 24},
        "1024": {"slidesPerView": 3, "spaceBetween": 24},
        "1200": {"slidesPerView": 3, "spaceBetween": 24}
    }
}'>
    <div class="main_news-block__header">
        <h2 class="main_news-block__title block__title">Последние новости</h2>
        <div class="main_news-block__more-wrap">
            <a href="{% url 'news:news_list' locality.slug %}" class="more-link" aria-label="Перейти ко всем новостям">
                Показать все
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </a>
        </div>
    </div>
    <div class="main_news-block__wrapper_slider">
        <div class="swiper swiper-container--not-ready">
            <div class="swiper-wrapper">
                {% for news in latest_news %}
                <div class="main_news-block__news news news_slide swiper-slide" aria-label="Новость {{ news.title|default:'Без заголовка' }}">
                    {% include 'news/partials/news_card.html' with news=news %}
                </div>
                {% endfor %}
            </div>
            <div class="main_news-block_navs slider-navs">
                <button class="slider-navs__btn slider-navs__prev" aria-label="Предыдущий слайд" aria-controls="news-slider">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M15 19L8 12L15 5"></path>
                    </svg>
                </button>
                <div class="slider-navs__pag"></div>
                <button class="slider-navs__btn slider-navs__next" aria-label="Следующий слайд" aria-controls="news-slider">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M15 19L8 12L15 5"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
{% endif %}