{% if grouped_tariffs %}
<section id="tariff" class="tariffs block">
    <div class="tariffs__content">
        <h1 class="tariffs-block__title block__title h2">Тарифы в {{ locality.name_prepositional }}</h1>

        <!-- Блок фильтров -->
        {% if available_services|length > 1 %}
        <!-- Навигация для десктопов -->
        <div class="tariffs-tabs-wrapper">
            <ul class="nav nav-pills tariffs-tabs-nav" id="tariffTabs" role="tablist">
                {% for service in available_services %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link {% if service.slug == first_service_slug %}active{% endif %}"
                                data-filter="{{ service.slug }}"
                                data-bs-toggle="tab"
                                data-bs-target="#{{ service.slug }}"
                                type="button"
                                role="tab"
                                aria-controls="{{ service.slug }}"
                                aria-selected="{% if service.slug == first_service_slug %}true{% else %}false{% endif %}">
                            {{ service.name }}
                        </button>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <!-- Контент табов с тарифами -->
        <div class="tab-content" id="tariffTabsContent">
            {% for service, tariffs in grouped_tariffs.items %}
                <div class="tab-pane fade {% if service.slug == first_service_slug %}show active{% endif %}"
                    id="{{ service.slug }}" role="tabpanel">
                    {% include 'core/partials/tariffs_list.html' with displayed_tariffs=tariffs locality=locality %}
                    {% if service.name == "Телевидение" and tv_packages %}
                        {% include 'core/partials/tv_packages_block.html' with tv_packages=tv_packages %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% else %}
<div class="container py-5 text-start">
    <p>Тарифы в {{ locality.name_prepositional }} временно недоступны.</p>
</div>
{% endif %}