{% extends 'base.html' %}
{% load static %}
{% load url_tools %}

{% block title %}Оборудование — {{ block.super }}{% endblock %}

{% block content %}
<div class="bg-white w-100">
    <div class="container">
        <!-- Хлебные крошки -->
        {% include 'partials/page_header.html' with title=title %}

        <!-- Категории -->
        <div class="equipment-categories mb-4">
            <ul class="nav nav-pills flex-wrap" style="gap: 0.5rem;">
                <li class="nav-item me-2 mb-2">
                    <a class="nav-link {% if not selected_category %}active{% endif %}"
                        href="{% url 'equipments:equipment_list' locality_slug=locality.slug %}">
                        Все
                    </a>
                </li>
                {% for category in categories %}
                    <li class="nav-item me-2 mb-2">
                        <a class="nav-link {% if selected_category|slugify == category.id|slugify %}active{% endif %}"
                            href="?{% url_replace 'category' category.id %}">
                            {{ category.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Поиск и сортировка -->
        <section class="products-list-block block" style data-block-slug="products-list-block" data-block-appearance>
            <div class="products-list-block__content" data-products-cat>
                <div class="products-panel products-panel_top">
                    <form name="search" method="GET" class="products-panel__search">
                        <input type="search" name="q" placeholder="Поиск" value="{{ search_query }}"
                            class="products-panel__search-input">

                        {% if sort_by %}
                            <input type="hidden" name="sort_by" value="{{ sort_by }}">
                        {% endif %}
                        {% if selected_category %}
                            <input type="hidden" name="category" value="{{ selected_category }}">
                        {% endif %}

                        <button type="submit" class="products-panel__search-btn">
                            <i class="bi bi-search me-1"></i>
                        </button>
                    </form>
                </div>
                <div class="products-panel products-panel_bottom">
                    <form method="get" class="products-panel__sortings sortings" data-products-sortings>
                        {% if search_query %}
                            <input type="hidden" name="q" value="{{ search_query|default_if_none:'' }}">
                        {% endif %}
                        {% if selected_category %}
                            <input type="hidden" name="category" value="{{ selected_category }}">
                        {% endif %}
                        <div class="sortings__title">Сортировать по:</div>
                            <label class="sortings__item sortings__item_total_sales sortings__item_desc">
                                <input class="sortings__item-value" type="radio" name="sort_by" value="popularity"
                                    {% if sort_by == "popularity" or not sort_by %}checked{% endif %}>
                                <div class="sortings__item-label">По популярности</div>
                            </label>

                            <label class="sortings__item sortings__item__price_asc sortings__item_asc">
                                <input class="sortings__item-value" type="radio" name="sort_by" value="price_asc"
                                    {% if sort_by == "price_asc" %}checked{% endif %}>
                                <div class="sortings__item-label">Цене ↑</div>
                            </label>

                            <label class="sortings__item sortings__item__price sortings__item_desc">
                                <input class="sortings__item-value" type="radio" name="sort_by" value="price_desc"
                                    {% if sort_by == "price_desc" %}checked{% endif %}>
                                <div class="sortings__item-label">Цене ↓</div>
                            </label>

                            <label class="sortings__item sortings__item_discount sortings__item_desc">
                                <input class="sortings__item-value" type="radio" name="sort_by" value="discount"
                                    {% if sort_by == "discount" %}checked{% endif %}>
                                <div class="sortings__item-label">Со скидкой</div>
                            </label>
                    </form>
                    <button class="products-panel__reset" data-products-full-reset="">Сбросить всё</button>
                </div>

                <!-- Карточки товаров -->
                <div class="products-list-block__wrapper" data-products-wrapper>
                    <ul class="products__list">
                        {% for product in products %}
                            <li class="product-card" data-product="{{ product.id }}" data-product-title="{{ product.name }}" data-product-price="{{ product.price }}" data-product-incatalog="1">
                                <a href="{% url 'equipments:product_detail' locality_slug=locality.slug slug=product.slug %}" class="product-card__wrapper">
                                    
                                    <div class="product-card__cart" data-product-change-cart="{{ product.uuid|default:'' }}"></div>
                                    
                                    <div class="product-card__img-wrap">
                                        <img src="{{ product.images.first.image.url }}" width="400" height="400" alt="{{ product.name }}" class="product-card__img">
                                    </div>

                                    <h6 class="product-card__title h6">{{ product.name }}</h6>

                                    <div class="product-card__desc">
                                        {{ product.short_description|truncatewords:20|default_if_none:"" }}
                                    </div>

                                    <div class="product-card__bottom">
                                        <div class="product-card__price h5">{{ product.price }} ₽</div>
                                        <div class="product-card__btn btn" data-add-product-cart="">В корзину</div>
                                    </div>
                                </a>
                            </li>
                        {% empty %}
                            <li class="alert alert-info">Товаров не найдено.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>

        {% if products.paginator.num_pages > 1 %}
        <nav aria-label="Навигация по страницам">
        <ul class="pagination justify-content-center flex-wrap gap-1">

            {# Кнопка "назад" #}
            {% if products.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?{% url_replace 'page' products.previous_page_number %}" aria-label="Предыдущая">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&laquo;</span>
            </li>
            {% endif %}

            {# Всегда показываем первую страницу #}
            {% if products.number > 3 %}
            <li class="page-item">
                <a class="page-link" href="?{% url_replace 'page' 1 %}">1</a>
            </li>
            {% if products.number > 4 %}
                <li class="page-item disabled"><span class="page-link">…</span></li>
            {% endif %}
            {% endif %}

            {# Диапазон вокруг текущей страницы (2 слева и 2 справа) #}
            {% for num in products.paginator.page_range %}
            {% if num >= products.number|add:'-2' and num <= products.number|add:'2' %}
                {% if num == products.number %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ num }}</span>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?{% url_replace 'page' num %}">{{ num }}</a>
                </li>
                {% endif %}
            {% endif %}
            {% endfor %}

            {# Многоточие перед последней страницей #}
            {% if products.number < products.paginator.num_pages|add:'-2' %}
            {% if products.number < products.paginator.num_pages|add:'-3' %}
                <li class="page-item disabled"><span class="page-link">…</span></li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="?{% url_replace 'page' products.paginator.num_pages %}">
                {{ products.paginator.num_pages }}
                </a>
            </li>
            {% endif %}

            {# Кнопка "вперёд" #}
            {% if products.has_next %}
            <li class="page-item">
                <a class="page-link" href="?{% url_replace 'page' products.next_page_number %}" aria-label="Следующая">
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&raquo;</span>
            </li>
            {% endif %}

        </ul>
        </nav>
        {% endif %}

        <!-- Популярные товары -->
        {% if popular_products %}
        <section class="products-slider-block block">
            <div class="products-slider-block__header">
                <h2 class="products-slider-block__title block__title">Популярные товары</h2>
            </div>
            <!-- Swiper Container -->
            <div class="products-slider-block__wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        {% for product in popular_products %}
                        <li class="product-card products-slider-block__item swiper-slide">
                            <a href="{% url 'equipments:product_detail' locality_slug=locality.slug slug=product.slug %}" class="product-card__wrapper">
                                <!-- Изображение -->
                                {% with product.images.first as image %}
                                    <div class="product-card__img-wrap">
                                        {% if image %}
                                            <img src="{{ image.image.url }}" class="product-card__img" alt="{{ product.name }}">
                                        {% else %}
                                            <img src="{% static 'img/no-image.png' %}" class="img-fluid popular-card-img" alt="Нет изображения">
                                        {% endif %}
                                    </div>
                                {% endwith %}

                                <!-- Контент -->
                                <h6 class="product-card__title h6">{{ product.name }}</h6>
                                <p class="product-card__desc">{{ product.short_description|truncatewords:12 }}</p>
                                <div class="product-card__bottom d-flex justify-content-between">
                                    <div class="product-card__price h5">{{ product.price }} ₽</div>
                                    <i class="bi bi-cart fs-5 text-secondary"></i>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </div>
                    <div class="products-slider-block__navs slider-navs">
                        <button class="slider-navs__btn slider-navs__prev" aria-label="Предыдущий слайд">
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round">
                                <path d="M15 19L8 12L15 5"></path>
                            </svg>
                        </button>
                        <div class="slider-navs__pag"></div>
                        <button class="slider-navs__btn slider-navs__next" aria-label="Следующий слайд">
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round">
                                <path d="M15 19L8 12L15 5"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}

    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const swiper = new Swiper('.products-slider-block .swiper', {
            slidesPerView: 1,
            spaceBetween: 30,
            loop: false,
            pagination: {
                el: '.products-slider-block .slider-navs__pag',
                clickable: true,
            },
            navigation: {
                nextEl: '.products-slider-block .slider-navs__next',
                prevEl: '.products-slider-block .slider-navs__prev',
            },
            breakpoints: {
                768: {
                    slidesPerView: 2,
                },
                1024: {
                    slidesPerView: 3,
                },
                1200: {
                    slidesPerView: 4,
                }
            },
            a11y: {
                prevSlideMessage: 'Предыдущий товар',
                nextSlideMessage: 'Следующий товар',
                paginationBulletMessage: 'Перейти к товару {{index}}'
            }
        });
    });
</script>
<script>
    // Автоотправка формы при изменении сортировки
    document.querySelectorAll('form[data-products-sortings] input[type=radio]').forEach(function(radio) {
        radio.addEventListener('change', function() {
            this.form.submit();
        });
    });

    // Обработка кнопки "Сбросить всё"
    const resetButton = document.querySelector('[data-products-full-reset]');
    if (resetButton) {
        resetButton.addEventListener('click', function () {
            // Перенаправление на чистый URL без параметров
            window.location.href = "{{ request.path }}";
        });
    }
</script>
{% endblock %}