{% extends 'base.html' %}
{% load static image_tags %}
{% block title %}Главная страница{% endblock %}
{% block content %}
<div class="page__container container">
    <div class="page__content">
        <!-- Карусель -->
        {% include 'core/partials/banner_carousel.html' with banners=banners %}

        <!-- Блок услуг -->
        {% include 'core/partials/available_services.html' %}
        
        <!-- Блок тарифов -->
        {% include 'core/partials/tariffs_section.html' %}

        <!-- Секция проверки адреса -->
        {% include 'core/partials/address_check_form.html' %}

        <!-- Слайдер товаров -->
        {% include 'core/partials/products_slider.html' with popular_items=popular_items has_products=has_products locality=locality %}

        <!-- Последние новости -->
        {% include 'core/partials/news_slider.html' with latest_news=latest_news locality=locality %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<!-- Подключение общего скрипта для Swiper и поиска каналов -->
<script src="{% static 'js/swiper_init.js' %}"></script>
{% endblock %}