{% extends 'base.html' %}
{% load static %}
{% block title %}Офисы обслуживания{% endblock %}
{% block content %}
<div class="offices-page">
    <div class="container">
        {% include 'partials/page_header.html' with title=title %}
        <!-- Фильтр по городам -->
        <div class="offices-filter">
            <div class="offices-filter__scroller">
                <div class="offices-filter__nav" role="tablist">
                    {% for locality in localities %}
                    <button class="offices-filter__btn {% if locality == current_locality %}active{% endif %}"
                            data-target="#office-city-{{ locality.slug }}"
                            role="tab"
                            aria-controls="office-city-{{ locality.slug }}"
                            aria-selected="{% if locality == current_locality %}true{% else %}false{% endif %}"
                            data-locality-slug="{{ locality.slug }}">
                        {{ locality.name }}
                    </button>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Контент офисов -->
        <div class="offices-content">
            {% for locality in localities %}
            <div class="offices-city {% if locality == current_locality %}active{% endif %}" 
                 id="office-city-{{ locality.slug }}"
                 role="tabpanel">
                {% for office in locality.office_set.all %}
                <div class="office-card">
                    <div class="office-card__left">
                        <div class="office-card__info">
                            <div class="office-card__info-row">
                                <div class="office-card__image">
                                    {% if office.image %}
                                        <img src="{{ office.image.url }}" alt="Офис {{ office.address }}" loading="lazy">
                                    {% else %}
                                        <div class="office-image-placeholder">
                                            <i class="placeholder-icon"></i>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="office-card__details">
                                    <div class="office-detail">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="office-icon" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
                                        </svg>
                                        <div>
                                            <h3 class="office-detail__title">Адрес</h3>
                                            <p class="office-detail__value">{{ office.address }}</p>
                                        </div>
                                    </div>
                                    <div class="office-detail">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="office-icon" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd"></path>
                                        </svg>
                                        <div>
                                            <h3 class="office-detail__title">Режим работы</h3>
                                            {% for schedule in office.schedules.all %}
                                            <p class="office-detail__value">
                                                {{ schedule.days }}: 
                                                {% if schedule.is_closed %}выходной
                                                {% else %}{{ schedule.start_time|time:"H:i" }}–{{ schedule.end_time|time:"H:i" }}
                                                {% endif %}
                                            </p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% if office.phone %}
                                    <div class="office-detail">
                                        <img src="{% static 'icons/phone.svg' %}" alt="" class="office-icon" loading="lazy">
                                        <div>
                                            <h3 class="office-detail__title">Телефон</h3>
                                            <p class="office-detail__value">
                                                <a href="tel:{{ office.phone }}">{{ office.phone }}</a>
                                            </p>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="office-card__contacts">
                            <div class="office-contact office-contact--full">
                                По любым вопросам пишите нам<br>
                                <a href="https://vk.com" target="_blank" class="office-contact__link">ВКонтакте</a>
                            </div>
                            <div class="office-contact__row">
                                <div class="office-contact office-contact--half">
                                    Или на почту<br>
                                    <a href="mailto:support@atvc.ru" class="office-contact__link office-contact__link--email">support@atvc.ru</a>
                                </div>
                                <div class="office-contact office-contact--half">
                                    Или звоните<br>
                                    <a href="tel:+78182639639" class="office-contact__link office-contact__link--tel">+7 (8182) 639-639</a>
                                </div>
                            </div>
                            <div class="office-contact office-contact--social">
                                Подписывайтесь на наши социальные сети<br>
                                <a href="https://vk.com/atvc_public" target="_blank" class="social-link">
                                    <img src="{% static 'icons/vk.webp' %}" alt="Мы в ВКонтакте" class="social-icon">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="office-card__map map-container">
                        <div class="map-loader">
                            <div class="spinner"></div>
                        </div>
                        <iframe 
                            loading="lazy"
                            src="https://yandex.ru/map-widget/v1/?ll={{ office.longitude }},{{ office.latitude }}&z=16"
                            allowfullscreen="true"
                            referrerpolicy="no-referrer-when-downgrade"
                            sandbox="allow-scripts allow-same-origin"
                            onload="this.previousElementSibling.classList.add('hidden')">
                        </iframe>
                    </div>
                </div>
                {% empty %}
                <p class="offices-empty">Офисы в этом городе не найдены</p>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}