{% extends 'base.html' %}
{% block title %}Заказ оформлен{% endblock %}
{% block content %}
<div class="container">
    {% include 'partials/page_header.html' with title="Заказ оформлен" %}
    <section class="order-success-block">
        <h4>Спасибо за ваш заказ!</h4>
        <p>Номер заказа: <strong>#{{ order.id }}</strong></p>
        <p>Мы свяжемся с вами для подтверждения заказа.</p>
        <a href="{% url 'equipments:equipment_list' locality_slug=locality_slug %}" class="btn btn-primary">Вернуться к покупкам</a>
    </section>
</div>
{% endblock %}