{% extends 'base.html' %}
{% block title %}Заказ оформлен{% endblock %}
{% block content %}
<div class="container">
    {% include 'partials/page_header.html' with title="Заказ оформлен" %}
    <section class="order-success-block">
        <h2>Заявка успешно отправлена!</h2>
        <p>Ваша заявка <strong>#{{ order.id }} принята.</strong></p>
        <p>Мы свяжемся с вами для подтверждения заказа.</p>
        <a href="{% url 'core:home' locality_slug=locality_slug %}" class="btn btn-primary">Вернуться на главную</a>
    </section>
</div>
{% endblock %}