{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django + Tailwind CSS + Flowbite{% endblock %}</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/dist/styles.css' %}">
    {% endcompress %}

    <!-- Alpine.js -->
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

    <style>
        [x-cloak] { display: none; }
        @supports (backdrop-filter: blur(4px)) {
            .backdrop-blur-sm {
                backdrop-filter: blur(4px);
            }
        }
    </style>
</head>
<body class="h-full" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include 'partials/_navbar.html' %}
  
    <main class="container mx-auto px-4 py-4">
        {% block content %}{% endblock %}
    </main>
  
    {% include 'partials/_footer.html' %}
    

    <!-- Глобальный слушатель для открытия модального окна -->
    <script>
        document.addEventListener('alpine:init', () => {
            // Инициализация глобального состояния модального окна
            Alpine.store('modal', {
                open: false
            });
    
            // Глобальный слушатель для открытия модального окна
            window.addEventListener('open-modal', () => {
                Alpine.store('modal').open = true;
            });
        });
    </script>

    <script>
        window.citySlug = "{{ request.city.slug|escapejs }}";
    </script>

    <script src="https://unpkg.com/imask"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>
</html>